data/layer1/layer1_results.csv*
data/layer1/layer1_results.csv.metrics.json
data/layer2/layer2_results.csv*
data/layer2/layer2_results.csv.metrics.json
data/layer2/layer2_results.csv.selection_record.csv
data/raw/faiq-data.csv
data/wordlists/layer2_results.csv.selection_record.csv
.env
__pycache__/
*.pyc

/fine_tuned_model
/fine_tuned_model_run1
/fine_tuned_model_run2
/fine_tuned_model_run3
/fine_tuned_model_run4

*.checkpoint
/data
/eval

bench_phase1.py
bench_phase2.py

fine_tuned_model.zip

phase1_results_cpu.csv
phase1_results_cuda.csv
phase2_results.csv


1.png
2.png
3.png

